.annotation
    .annotation-container
        h1.annotation__header Мои финансы
        smaller.annotation__text Здесь ты можешь увидеть кэшбэк за твои покупки. Пожалуйста, #[a(href="#") свяжись с нами], если у тебя есть вопросы.