header.header
  .header-container
      .header__top
          .header__applications
              a(href="#").header__applications-item.black
                  span.header__applications-item-name Скачай приложения для iOS
                  img(src="img/header/apple.svg").header__applications-item-icon
              a(href="#").header__applications-item.black
                  span.header__applications-item-name и Android
                  img(src="img/header/android.svg").header__applications-item-icon
          .header__top-menu
              .header__top-menu-item
                  a(href="#").black
                    span Партнерам
              .header__top-menu-item
                  a(href="#").black
                      span Вопросы и ответы
              .header__top-menu-item
                  a(href="#").black
                      span Поддержка
              .header__top-menu-item
                  a(href="#").black
                      span Контакты
          .header__profile
              .header__profile-money
                  span 142 BYN #[span / 40 BYN]
              .header__profile-menu
                  a(href="#").header__profile-item
                    img(src="img/header/likes.svg" alt="likes")
                  a(href="#").header__profile-item
                    img(src="img/header/notifications.svg" alt="notifications")
                    .header__profile-notifications-active
                  a(href="#").header__profile-item
                    img(src="img/header/profile_photo.png" alt="avatar")
      .header__bottom
          a(href="#").header__logo
              img(src="img/header/logo.svg" alt="logo").header__logo-image
          .header__search
              img(src="img/header/find.svg" alt="search").header__search-image
              input(type="search" placeholder="Магазины с высоким кэшбэком")
          .header__bottom-menu
              .header__bottom-menu-item
                  a(href="#")
                      caps Все Магазины
              .header__bottom-menu-item
                  a(href="#")
                      caps С повышенным кэшбэком
              .header__bottom-menu-item
                  a(href="#")
                      caps Приведи друга
              .header__bottom-menu-special-item
                  a(href="#")
                      small Увеличь кэшбэк