#hint-content.hint
  .hint-container
      .hint__image-container
          img(src="img/hint/card.png" atl="card").hint__image
      .hint__text
          smaller.hint__title Получай кэшбэк сразу на карту!
          small.hint__description Кобренд–карта РРБ Банка поможет удобно получать кэшбэк.
      a(href="#").hint__button-action
        span Хочу карту
      a#hint-close.hint__button-close-container
          .hint__button-close