.left-menu
    .left-menu-container
        .left-menu__profile
            .left-menu__avatar
                img(src="img/left-menu/avatar.png" alt="ava").left-menu__avatar-image
            span.left-menu__title Konstantinopolsky
            a#ref-link.left-menu__link
                span#ref-text konstantinopolsky.cashuback.by
                img(src="img/left-menu/link.svg" alt="copy").left-menu__link-copy
                span#ref-hint.left-menu__link-hint Копировать ссылку
            .left-menu__description
                span.left-menu__description-name СТАТУС: #[span.left-menu__description-present START]
                a.left-menu__description-img
                    img(src="img/left-menu/info.svg" alt="info")
            .left-menu__experience
                .left-menu__experience-bar
                    .left-menu__experience-bar-fill
                .left-menu__experience-description
                    span.left-menu__experience-description-name До статуса Expert: #[span.left-menu__experience-description-present 20 BYN]
        .left-menu__nav
            a(href="#").left-menu__nav-item
                img(src="img/left-menu/profile.svg" alt="nav_ico").left-menu__nav-item-img
                span.left-menu__nav-item-text Мой кабинет
            a(href="#").left-menu__nav-item
                img(src="img/left-menu/orders.svg" alt="nav_ico").left-menu__nav-item-img
                span.left-menu__nav-item-text Заказы и финансы
            a(href="#").left-menu__nav-item
                img(src="img/left-menu/card.svg" alt="nav_ico").left-menu__nav-item-img
                span.left-menu__nav-item-text Карты
            a(href="#").left-menu__nav-item.left-menu__nav-item--active
                img(src="img/left-menu/wallet.svg" alt="nav_ico").left-menu__nav-item-img
                span.left-menu__nav-item-text Вывод средств
            a(href="#").left-menu__nav-item
                img(src="img/left-menu/new-people.svg" alt="nav_ico").left-menu__nav-item-img
                span.left-menu__nav-item-text Приведи друга
                span.left-menu__nav-item-count 2
        .left-menu__settings
            a(href="#").left-menu__settings-item
                img(src="img/left-menu/settings.svg" alt="nav_ico").left-menu__settings-item-img
                span.left-menu__settings-item-text Настройки
            a(href="#").left-menu__settings-item
                img(src="img/left-menu/help.svg" alt="nav_ico").left-menu__settings-item-img
                span.left-menu__settings-item-text Помощь
            a(href="#").left-menu__settings-item
                img(src="img/left-menu/exit.svg" alt="nav_ico").left-menu__settings-item-img
                span.left-menu__settings-item-text Выход