.money
    .money-container
        .money__output
            .money__output-title-container
                span.money__output-title Доступно для вывода
            .money__output-value-container
                span.money__output-value 142
                span.money__output-description  BYN
        .money__charge
            .money__charge-title-container
                span.money__charge-title Ожидает начисления
                .money__charge-info
            .money__charge-value-container
                span.money__charge-value 40
                span.money__charge-description  BYN