.site-history
    .site-history-container
        .site-history__items
            .site-history__item
                a(href='#')
                    smaller Главная
            .site-history__item-detach
            .site-history__item
                a(href='#')
                    smaller Личный кабинет
            .site-history__item-detach
            .site-history__item
                smaller Вывод средств