.warning
    .warning-container
        small.warning__title Внимание!
        .warning__list
            .warning__list-item
                .warning__list-item-icon
                small.warning__list-item-text Вывод средств с разных аккаунтов на одинаковые реквизиты невозможен.
            .warning__list-item
                .warning__list-item-icon
                small.warning__list-item-text Указывай только реальные, #[span зарегистрированные данные.]
            .warning__list-item
                .warning__list-item-icon
                small.warning__list-item-text Твоя заявка будет обработана #[span в течение 1-3 рабочих дней.]
            .warning__list-item
                .warning__list-item-icon
                small.warning__list-item-text Заявка находится «В ожидании» более 2 дней — #[span проверь почту.]